body{
    background-color: #1c1c1c;
    color: white;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }


  /* Colorize-zoom Container */
  .img-hover-zoom--colorize{
    width: 100px;
    padding-left: 10px;
  }
.img-hover-zoom--colorize img {
    transition: transform .5s, filter 1.5s ease-in-out;
    filter: grayscale(100%);
  }
  
  /* The Transformation */
  .img-hover-zoom--colorize:hover img {
    filter: grayscale(0);
    transform: scale(1.1);
  }